@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbarLi {
    @apply hover:text-hoverColor cursor-pointer duration-300;
  }
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}